<h4>Update College</h4>
<hr>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onsubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="college.name" name="name">
        </div>

        <div class="form-group">
            <label for="name">Establishment Date</label>
            <input type="text" class="form-control" id="establishmentDate" required
                [(ngModel)]="college.establishmentDate" name="establishmentDate">
        </div>
        <button type="reset" (click)="cancle()" class="btn btn-default">Cancel</button>
        &nbsp; &nbsp;
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>College details updated successfully!</h4>
</div>