<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>
            List of Universities 
            <button (click)="addUniversity()" class="btn btn-primary float-right">Add University</button>
        </h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sl. No</th>
                    <th>Name</th>
                    <th>Establishment Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let university of universities; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{university.name}}</td>
                    <td>{{university.establishmentDate}}</td>
                    <td class="float-right">
                        <button (click)="deleteUniversity(university.id)" class="btn btn-danger">Delete</button>

                        <button (click)="updateUniversity(university.id)" class="btn btn-dark" style="margin-left: 10px">Update</button>

                        <button (click)="universityDetails(university.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>